@media(max-width: 576px){
    .quotes-generation-container{
        width: 90%;
        box-shadow: 0px 0px 4px 2px #fff
    }
    .quotes-generation-container:hover{
        box-shadow: 0px 0px 4px 2px #000;
        transform: scale(1.03);
    }
    .quotes-generation-container::before{
        border-width: 3px;
    }
    .quotes-generation-container .main-heading{
        font-size: 18px;
        font-weight: 500;
        box-shadow: 0px 0px 3px 2px #fff
    }
    .quotes-generation-container .main-heading:hover{
        transform: scale(1.06) rotatex(360deg);
        box-shadow: 0px 0px 3px 2px #f00755;
    }
    .quotes-generation-container .main-heading::after{
        border-width: 2px;
    }
    .quotes-generation-container .main-heading::before{
        height: 5px;
        border-width: 1.5px;
        border-right-width: 0px;
        border-left-width: 0px;
        bottom: 10px;
    }
    .quotes-generation-container .generation-button{
        font-size: 16px;
        font-weight: 500;
        width: 50% !important;
        box-shadow: 0px 0px 3px 2px #fff;
    }
    .quotes-generation-container .generation-button:focus{
        box-shadow: 0px 0px 3px 2px #f00755;
        transform: scale(1.06) rotatex(360deg);
    }
    .quotes-generation-container .generation-button::after{
        height: 2px;
        bottom: 13px;
    }
    .quotes-generation-container .generation-button::before{
        height: 10px;
        border-width: 2px;
        border-right-width: 0px;
        border-left-width: 0px;
        bottom: 5px;
    }
    .quotes-generation-container .quote-container{
        box-shadow: 0px 0px 3px 2px #fff;
        width: 95% !important;
    }
    .quotes-generation-container .quote-container:hover{
        box-shadow: 0px 0px 3px 2px #09c;
    }
    .quotes-generation-container .quote-container::before{
        border-width: 2px;
        left: 99%;
    }
    .quotes-generation-container .quote-container .quote-data{
        font-size: 12px;
        font-weight: 500;
        box-shadow: 0px 0px 2px 1px #fff;
    }
    .quotes-generation-container .quote-container .quote-data:hover{
        box-shadow: 0px 0px 2px 1px #09c;
    }

}
@media((min-width: 576px) and (max-width: 768px)){
    .quotes-generation-container{
        box-shadow: 0px 0px 4px 2px #fff;
    }
    .quotes-generation-container:hover{
        box-shadow: 0px 0px 4px 2px #000;
        transform: scale(1.05)
    }
    .quotes-generation-container::before{
        border-width: 3px;
    }
    .quotes-generation-container .main-heading{
        font-size: 20px;
        font-weight: 600;
        box-shadow: 0px 0px 3px 2px #fff;
    }
    .quotes-generation-container .main-heading:hover{
        transform: scale(1.06) rotatex(360deg);
        box-shadow: 0px 0px 3px 2px #f00755;
    }
    .quotes-generation-container .main-heading::after{
        border-width: 2px;
    }
    .quotes-generation-container .main-heading::before{
        height: 5px;
        border-width: 1.5px;
        border-right-width: 0px;
        border-left-width: 0px;
        bottom: 10px;
    }
    .quotes-generation-container .generation-button{
        font-size: 18px;
        font-weight: 600;
        width: 50% !important;
        box-shadow: 0px 0px 3px 2px #fff;
    }
    .quotes-generation-container .generation-button:focus{
        box-shadow: 0px 0px 3px 2px;
        transform: scale(1.06) rotatex(360deg);
    }
    .quotes-generation-container .generation-button::after{
        height: 2px;
        bottom: 13px;       
    }
    .quotes-generation-container .generation-button::before{
        height: 10px;
        border-width: 2px;
        border-right-width: 0px;
        border-left-width: 0px;
        bottom: 5px;       
    }
    .quotes-generation-container .quote-container{
        width: 90% !important;
        box-shadow: 0px 0px 5px 3px #fff;
    }
    .quotes-generation-container .quote-container:hover{
        box-shadow: 0px 0px 5px 3px #09c;
    }
    .quotes-generation-container .quote-container::before{
        border-width: 2px;
    }
    .quotes-generation-container .quote-container .quote-data{
        font-size: 14px;
        font-weight: 500;
        box-shadow: 0px 0px 2px 1px #fff;
    }
    .quotes-generation-container .quote-container .quote-data:hover{
        box-shadow: 0px 0px 2px 1px #09c;
    }
}
@media((min-width: 768px) and (max-width: 992px)){
    .quotes-generation-container{
        box-shadow: 0px 0px 6px 4px #fff;
    }
    .quotes-generation-container:hover{
        box-shadow: 0px 0px 6px 4px;
        transform: scale(1.07);
    }
    .quotes-generation-container::before{
        border-width: 4px;
    }
    .quotes-generation-container .main-heading{
        font-size: 24px;
        font-weight: 700;
        box-shadow: 0px 0px 5px 3px #fff;
    }
    .quotes-generation-container .main-heading:hover{
        transform: scale(1.08) rotatex(360deg);
        box-shadow: 0px 0px 5px 3px #f00755;
    }
    .quotes-generation-container .main-heading::after{
        border-width: 3px;
    }
    .quotes-generation-container .main-heading::before{
        height: 7px;
        border-width: 2.5px;
        border-right-width: 0px;
        border-left-width: 0px;
    }
    .quotes-generation-container .generation-button{
        width: 35% !important;
        font-size: 20px;
        font-weight: 700;
        box-shadow: 0px 0px 5px 3px #fff;
    }
    .quotes-generation-container .generation-button:focus{
        transform: scale(1.08) rotatex(360deg);
        box-shadow: 0px 0px 5px 3px #f00755;
    }
    .quotes-generation-container .generation-button::after{
        height: 3px;
        bottom: 10px;
    }
    .quotes-generation-container .generation-button::before{
        height: 12px;
        border-width: 3px;
        border-right-width: 0px;
        border-left-width: 0px;
    }
    .quotes-generation-container .quote-container{
        box-shadow: 0px 0px 5px 3px #fff;
        width: 85% !important;
    }
    .quotes-generation-container .quote-container:hover{
        box-shadow: 0px 0px 5px 3px #09c;
    }
    .quotes-generation-container .quote-container::before{
        border-width: 3px;
    }
    .quotes-generation-container .quote-container .quote-data{
        font-size: 16px;
        font-weight: 600;
        box-shadow: 0px 0px 3px 1px #fff;
    }
    .quotes-generation-container .quote-container .quote-data:hover{
        box-shadow: 0px 0px 3px 1px #09c;
    }
}
@media((min-width: 992px) and (max-width: 1200px)){
    .quotes-generation-container{
        box-shadow: 0px 0px 6px 4px #fff;
    }
    .quotes-generation-container:hover{
        transform: scale(1.03);
        box-shadow: 0px 0px 6px 4px #000;
    }
    .quotes-generation-container::before{
        border-width: 4px;
    }
    .quotes-generation-container .main-heading{
        font-size: 27px;
        font-weight: 800;
        box-shadow: 0px 0px 5px 3px #fff;
    }
    .quotes-generation-container .main-heading:hover{
        box-shadow: 0px 0px 5px 3px #f00755;
    }
    .quotes-generation-container .main-heading::after{
        border-width: 3px;
    }
    .quotes-generation-container .main-heading::before{
        height: 7px;
        border-width: 2.5px;
        border-right-width: 0px;
        border-left-width: 0px;
    }
    .quotes-generation-container .generation-button{
        font-size: 23px;
        width: 25% !important;
        box-shadow: 0px 0px 5px 3px #fff;
    }
    .quotes-generation-container .generation-button:focus{
        box-shadow: 0px 0px 5px 3px #f00755;
    }
    .quotes-generation-container .generation-button::after{
        height: 3px;
        bottom: 10px;
    }
    .quotes-generation-container .generation-button::before{
        height: 12.75px;
        border-width: 3px;
        border-right-width: 0px;
        border-left-width: 0px;
    }
    .quotes-generation-container .quote-container{
        box-shadow: 0px 0px 5px 3px #fff;
        width: 85% !important;
    }
    .quotes-generation-container .quote-container:hover{
        box-shadow: 0px 0px 5px 3px #09c
    }
    .quotes-generation-container .quote-container .quote-data{
        font-size: 18px;
        font-weight: 600;
        box-shadow: 0px 0px 3px 1px #fff;
    }
    .quotes-generation-container .quote-container .quote-data:hover{
        box-shadow: 0px 0px 3px 1px #09c;
    }
}